@font-face {
  font-family: "PragmataPro";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/pragmatapro_mono_r_liga_0827-webfont.woff2")
      format("woff2"),
    url("/static/fonts/pragmatapro_mono_r_liga_0827-webfont.woff")
      format("woff");
}

@font-face {
  font-family: "PragmataPro";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/pragmatapro_mono_b_liga_0827-webfont.woff2")
      format("woff2"),
    url("/static/fonts/pragmatapro_mono_b_liga_0827-webfont.woff") format("woff");
}
