$color1: #242424;
$color2: #1d1d1d;
$color3: #0ae0f0;
$color4: #08bfcc;
$color5: #ffffff;

$body-bg: $color1;

$body-font-color: $color5;
$primary-color: $color3;

$font-size: 14px;

$border-radius: 5px;
$control-padding-y-sm: 0.15rem;
$control-padding-x-sm: 0.5rem;
$control-size-sm: 1.8rem;

$base-font-family: PragmataPro, -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto;
